@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #ffffff;
  --primary: #1a1a1a;
  --secondary: hsl(0, 0, 10);
  --accent: #0000ff;
}
/* Use flex to fix high ress asymetry */
body > * {
  width: clamp(768px, 80vw, 1536px);
  margin-inline: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;

  color: var(--primary);
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}
h2 {
  font-size: 3rem;
  line-height: 3.5rem;
}
h3 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h4 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--accent);
  font-weight: 300;
}
h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--accent);
  font-weight: 300;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--secondary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  align-items: center;
}
.span-6 {
  grid-column: span 6;
}
.span-4 {
  grid-column: span 4;
}
.span-2 {
  grid-column: span 2;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.spacing-05 {
  gap: 0.5rem;
}
.spacing-1 {
  gap: 1rem;
}
.spacing-2 {
  gap: 2rem;
}
.top-6 {
  margin-top: 6rem;
}

.align-self-start {
  align-self: self-start;
}

.line {
  border-bottom: var(--accent) 1px solid;
}

a {
  color: var(--secondary);
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
a::after {
  content: url(../icons/arrow_circle_right.svg);
  height: 1.5rem;
  opacity: 0;
  transition: all 0.2s;
}
a:hover {
  color: var(--accent) !important;
}
a:hover::after {
  content: url(../icons/arrow_circle_right.svg);
  height: 1.5rem;
  padding-left: 0.5rem;
  opacity: 1;
}
img {
  height: 100vh;
  object-fit: cover;
}
