:root {
  font-size: clamp(12px, 1vw, 16px);
  --resolution: 1024px;
}
@media (max-width: 768px) {
  body > * {
    width: calc(100vw - 2rem);
    margin-inline: 1rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
  }
  .span-6 {
    grid-column: span 2;
  }
  .span-4 {
    grid-column: span 2;
  }
  .span-2 {
    grid-column: span 1;
  }
  .span-6:has(img) {
    grid-row: 1;
  }
  .mobile-hide{
    display: none;
  }
  .mobile-show{
    display: inherit;
  }
}
